<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login to Salesforce </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="icon"  type="image/icon"  href="Online Salesforce Editor (OSE).ico" />
  </head>
  <body class="container" style="padding-top: 50px;">
    <div class="jumbotron">
      <h1>Login to Salesforce</h1>
      <p>
          Welcome to Online IDE for Salesforce. <br />
          To Start using, Select your Salesforce instance
      </p>
      <p><a id="prodBtn" role="button" style="margin-right:40px" class="btn btn-primary btn-lg">Production</a><a id="sandBtn" role="button" class="btn btn-primary btn-lg">Sandbox</a></p>
    </div>
     <script>
    if (window.location.protocol != "https:")
	    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>
    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/jqueryCookies.js"></script>
    <script type="text/javascript" src="lib/forcetk.js"></script>
    <script type="text/javascript" src="js/OAuth.js"></script>
  </body>
</html>